In [8]:
#计算2+4+......+100的值
sum = 0
for i in range(0,101,2):
    sum += i
print(sum)

2550

In [36]:
#统计全班的成绩
import pandas as pd
score={'语文':[68,95,98,90,80],
       '数学':[65,76,86,88,90],
       '英语':[30,98,88,77,90]}
df=pd.DataFrame(score,index=['张飞','关羽','刘备','典韦','许褚'])
df.index.name='姓名'
df.describe().loc[['mean','max','min','std']]

             语文         数学         英语
mean  86.200000  81.000000  76.600000
max   98.000000  90.000000  98.000000
min   68.000000  65.000000  30.000000
std   12.255611  10.440307  27.107195

In [37]:
df['sum']=df.sum(axis=1)
df['名次']=df['sum'].rank(ascending=False)
df

    语文  数学  英语  sum   名次
姓名
张飞  68  65  30  163  5.0
关羽  95  76  98  269  2.0
刘备  98  86  88  272  1.0
典韦  90  88  77  255  4.0
许褚  80  90  90  260  3.0

In [147]:
#分析汽车投诉抱怨信息：对汽车质量数据进行统计
import pandas as pd
result=pd.read_csv('C:\python\car_complain12.csv')
result

,id,brand,car_model,type,desc,problem,datetime,status
0,482028,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹B柱异响 车内异响严重,"H93,H15,",2020/6/8,信息审核
1,482027,江淮汽车,江淮iEV6E,2017款 iEV6E,江淮iEV6E动力电池故障 无法充电,"H343,",2020/6/8,信息审核
2,482026,一汽马自达,阿特兹,2020款 2.5L 蓝天运动版,一汽马自达阿特兹车身异响 天窗异响,"H93,H15,H89,",2020/6/8,信息审核
3,482022,一汽-大众,迈腾,2009款 1.8TSI DSG 舒适型,一汽大众迈腾起步和刹车时车辆抖动\t,"B84,E111,",2020/6/8,信息审核
4,482019,众泰汽车,众泰T600 Coupe,2017款 1.5T 自动 尊享型,众泰T600 Coupe售后维修配件一直缺货,"N318,",2020/6/8,厂家受理
...,...,...,...,...,...,...,...,...
595,480802,北京现代,领动,2016款 1.6L 自动 智炫·精英型,北京现代领动ABS和防侧滑故障灯同时亮\t,"E62,H170,I295,I294,",2020/6/5,信息审核
596,480801,一汽-大众,高尔夫,2016款 1.4TSI 25周年纪念版,一汽大众高尔夫仪表提示变速箱挂入P挡,"B96,",2020/6/5,处理反馈
597,480799,吉利汽车,星越,2020款 350T 魅影骑士版AWD,吉利星越车机系统虚假宣传 卡顿严重,"H155,M279,",2020/6/5,用户评分
598,480798,北京现代,悦纳,2016款 1.4L 手动 炫酷版 GLS,北京现代悦纳发动机曲轴螺丝断裂,"A145,",2020/6/5,信息审核
599,480795,东风日产,逍客,2016款 2.0L CVT 精英版,东风日产逍客变速箱报故障码P17F1,"B84,",2020/6/5,处理反馈

In [148]:
result=result.drop('problem',1).join(result.problem.str.get_dummies(','))
result.to_csv('car_problems.csv')
print(result.columns)
tags=result.columns[7:]

Index(['id', 'brand', 'car_model', 'type', 'desc', 'datetime', 'status', 'A11',
       'A114', 'A12',
       ...
       'N318', 'N319', 'O296', 'O326', 'O348', 'O354', 'Q322', 'Q323', 'Q349',
       'Q350'],
      dtype='object', length=181)

In [158]:
#各品牌抱怨数量
df=result.groupby(['brand'])['id'].agg(['count'])
df=df.sort_values('count',ascending=False)
df

         count
brand
吉利汽车        96
一汽马自达       95
一汽-大众       52
上汽大众        36
一汽-大众奥迪     19
...        ...
开瑞汽车         1
天津一汽         1
凯翼汽车         1
奇瑞新能源        1
东风风行         1

[75 rows x 1 columns]

In [162]:
#各品牌车型抱怨数量
df_model=result.groupby(['brand','car_model'])['id'].agg(['count'])
df_model=df_model.sort_values('count',ascending=False)
df_model

                  count
brand  car_model
一汽马自达  阿特兹           75
吉利汽车   星越            43
一汽-大众  速腾            22
一汽马自达  马自达CX-4       20
吉利汽车   博越            13
...                 ...
上汽通用五菱 宝骏360          1
       宝骏530          1
       宝骏630          1
北汽昌河   昌河M70          1
北京汽车   绅宝X35          1

[213 rows x 1 columns]

In [192]:
#哪个品牌的平均车型投诉最多
df=result.groupby(['brand'])['id'].agg(['count'])
df2=result.groupby(['brand','car_model'])['id'].agg(['count']).groupby(['brand']).mean().sort_values('count',ascending=False)
df2

            count
brand
一汽马自达   47.500000
吉利汽车     9.600000
一汽-大众    8.666667
一汽大众     6.000000
广汽丰田     5.666667
...           ...
宝马（进口）   1.000000
凯翼汽车     1.000000
一汽吉林     1.000000
广汽乘用车    1.000000
东南汽车     1.000000

[75 rows x 1 columns]